@model IEnumerable<TripViewModel>

@{
    ViewData["Title"] = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trips</h2>

<p>
    <a asp-action="Create">Create New Trip</a>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Depature)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.HasTickets)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTickets)
            </td>
            @if (item.HasTickets)
            {
                <td>
                    <a asp-action="Tickets" asp-controller="Tickets" asp-route-id="@item.Id">Sale ticket</a>

                </td>
            }
            
        </tr>
}
    </tbody>
</table>
