@model IEnumerable<BusTickets.Web.Models.TicketViewModel>

@{
    ViewData["Title"] = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuyTicket</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.SitNumber)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsTicketSaled)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTicketSaled)
            </td>
            @if (!item.IsTicketSaled)
            {
                <td>
                    <a class="btn btn-success" asp-action="SaleSelectedTicket" asp-route-ticketId="@item.Id" asp-route-tripId="@ViewBag.TripId ">Sale</a>
                </td>

            }
            
        </tr>
}
    </tbody>
</table>
